/*font downloads*/
@import url(https://fonts.googleapis.com/css?family=Pinyon+Script);
@import url(https://fonts.googleapis.com/css?family=Anton);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

.plus-button-container {
    border: 1px black dashed;
    max-width: 800px;
    height: 30px;
    margin-top: 5%;

}

.new-message-box {
    max-width: 800px;

}

.new-message-container {
    max-width: 800px;

}

.max-width-container {
    max-width: 800px;

}

.title {
    font-family: "Anton", sans-serif;
    color: black;
    font-size: 40px;
}

.no-messages-text {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: black;
}

.message-box {
    max-width: 800px;
    height: auto;
    border: 3px solid #00B7EF;
    min-height: 100px;
    margin-bottom: 4%;
}

.message-date {
    font-family: "Poiret One", sans-serif;
    font-size: 16px;
    color: black;
    float: left;
    position: relative;
    margin-top: -2%;
    margin-left: 2%;
    background-color: white;
    padding-left: 1%;
    padding-right: 1%;
}

.message-title {
    font-family: "Anton", sans-serif;
    color: #00B7EF;
    font-size: 30px;
    /* float: left; */
    text-align: left;
    margin-left: 2%;
    margin-top: 1%;
}

.message-text {
    font-family: Arial, sans-serif;
    font-size: 16px;
    float: left;
    color: #C1BFC0;
    margin-left: 2%;
    text-align: left;
}

.message-signature {
    font-family: "Pinyon Script", sans-serif;
    font-size: 24px;
    color: black;
    text-align: right;
    margin-right: 2%;
}

.plus-button-container {
    border: 1px black dashed;
    max-width: 800px;
}

#plus {
    font-size: 16px;
    background-color: #66CDAA;
    color: white;
    border-radius: 3px;
    /* vertical-align: middle; */
    margin-top: 0.5%;
    width: 7%;
}

.new-message-box {
    max-width: 800px;
    height: auto;
    border: 3px dashed #00B7EF;
    margin-top: 5%;
    display: block;
}

.new-message-title {
    color: #C1BFC0;
    border: 1px #C1BFC0 solid;
    /* text-align: left; */
    margin-left: 2%;
    margin-top: 3%;
    display: block;

}

.new-message-text {
    border: 1px #C1BFC0 solid;
    display: block;
    color: #C1BFC0;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 100px;
    width: 96%;

}

.new-message-author {
    display: inline-block;
    color: black;
    border: 1px #C1BFC0 solid;
    margin-bottom:1%;
    margin-right: 2%;
}

.confirm-new-message-submission-container {

    border: 1px black dashed;
    max-width: 800px;
    margin-top:2%;
}

.delete-new-message {
    height: 30px;
    width: 70px;
    display: inline-block;
    font-size: 16px;
    color: white;
    background-color: red;
}

.confirm-new-message {
    height: 30px;
    width: 70px;
    font-size: 16px;
    background-color: #66CDAA;
    color: white;
}

.clickable {
    cursor: pointer;
}

.centered {
    text-align: center;
}

.relative {
    position: relative;
    top: 0;
    bottom: 0;
}

.vert-align-center-div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.horiz-align-center-div {
    margin:auto;
}

.horiz-and-vert-align-center-div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.border-red {
    border: 1px red solid;
}

.user-login-logout-register {
    display: inline-block;
    border: 1px deepskyblue dashed;
    text-align: center;
    vertical-align: middle;
    padding: 15px 40px 15px 40px;
    margin-left: 10px;
    width: auto;
}

.registration-input {
    height: 30px;
}

.social{
    margin-top:1%;
    padding: 15px 40px 15px 40px;
}

.linkedin{
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 4px;
}

.twitter{
    padding-left: 43px;
    padding-right: 44px;
}