{#<h1>Create an account</h1>#}
{#<form method="post" action="login.html">#}
{#      {% csrf_token %}#}
{#      {{ form.as_p }}#}
{#    <label for="username">Username:</label> <input class="registration-input" type="text" title="username" required/><br/>#}
{#    <label for="password">Password:</label> <input class="registration-input" type="text" title="password" required/><br/>#}
{#    <label for="password_confirmation">Password Confirmation:</label> <input class="registration-input" type="text"#}
{#                                                                              title="password_confirmation" required/><br/>#}
{##}
{#    <button class="user-login-logout-register" type="submit">Create the account</button>#}
{#</form>#}


{% block title %}Create an account{% endblock %}

{% block content %}
  <h1>Create an account</h1>

  <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Create the account">
  </form>
{% endblock %}