{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'messageboard/billboard.css' %}"/>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">


<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'messageboard/js/billboard.js' %}"></script>


<body class="relative centered">
<h1 class="title centered row">Billboard</h1>
{{ user }}
{% if user.is_anonymous %}
    <br/>
    <div class="user-login-logout-register"><a href="{% url 'django.contrib.auth.views.login' %}">login</a></div>
    <div class="user-login-logout-register"><a href="{% url 'register' %}">Register</a></div>
    <a href="{% url 'social:begin' backend='linkedin-oauth2' %}" class="button">LinkedIn</a>
    <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}" class="button">Twitter</a>
    <br/>
{% else %}
    <br/>
    <div class="user-login-logout-register"><a href="{% url 'django.contrib.auth.views.logout' %}">logout</a></div>
    <br/>
{% endif %}
<br/>
{% if user.is_authenticated %}
    <div class="max-width-container horiz-align-center-div">
        {% for message in message_list %}
            <div class="row message-box centered">
                <div class="message-date">{{ message.pub_date }}</div>
                <div class="message-title">{{ message.title }}</div>
                <div class="message-text">{{ message.text }}</div>
                <div class="message-signature">{{ message.user_name }}</div>

            </div>
        {% empty %}
            <div class=" row no-messages-text centered">No messages... <br>
                Click the '+' button to add a new message
            </div>
        {% endfor %}
        <div class="row plus-button-container centered">
            <button id="plus" class="clickable centered"><i class="fa fa-plus" aria-hidden="true"></i></button>
        </div>
    </div>
{% endif %}



<div class="new-message-container horiz-align-center-div">
    <form action="{% url 'submit-message' %}" method="post">
        <div class="new-message-box row">
            {% csrf_token %}
            <div id="newDate" class="message-date">21/3/2012</div>
            <input type="text" name="title" class="new-message-title" placeholder="Title" required>
            <textarea col="100" row="4" name="text" class="new-message-text" placeholder="Your message here"
                      required></textarea>
            <div style="text-align: right">
                <input type="text" name="author" class="new-message-author" value={{ user }} required>
            </div>

        </div>
        <div class="confirm-new-message-submission-container row">
            <button type="button" class="delete-new-message clickable"><i class="fa fa-times" aria-hidden="true"></i>
            </button>
            <button type="submit" class="confirm-new-message clickable"><i class="fa fa-check"
                                                                           aria-hidden="true"></i></button>
        </div>
    </form>

</div>

</body>